# workig
API_TOKEN=5059467386:AAGO8JytVDXBq-03W3YaFkvTNvKFqM6BpJ0
ACCESS_ID=736489732,1710069613
SPREADSHEET_ID=1dOvg952GdNSA1GKra69xC_eFfXe8PjNj-dyGGg1P5YE


# testing
# API_TOKEN=5944854166:AAHSoS0iEU8RRaC-nClG1Wr8WxPdTDtgNIQ
# SPREADSHEET_ID=1dOvg952GdNSA1GKra69xC_eFfXe8PjNj-dyGGg1P5YE

DB_HOST=localhost
DB_PORT=5433
DB_NAME=budget_bot
DB_USER=postgres
DB_PASSWORD=ваш_пароль
