# workig
API_TOKEN=5059467386:-set-your-api-KFqM6BpJ0
ACCESS_ID=736489732,1710069613
SPREADSHEET_ID=1dOvg-set-your-api-g1P5YE


# testing
# API_TOKEN=59448-set-your-api-TDtgNIQ
# SPREADSHEET_ID=1dOvg9-set-your-api-Nj-dyGGg1P5YE

DB_HOST=localhost
DB_PORT=5432
DB_NAME=budget_bot
DB_USER=postgres
DB_PASSWORD=ваш_пароль
